*.pyc

.installed.cfg
bin
develop-eggs
eggs
.eggs
.idea
*.egg-info

tmp
build
dist
docs
etcd
.coverage

debian/files
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/python-etcd
